<div class="row">

<div class="col-md-6 col-sm-12">

  <h2 class="mb-2">Let's change it up</h2>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>


    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <br>
      <p>Upload a new avatar image</p>
      <%= f.file_field :avatar %>

    </div>

    <div class="form-actions my-4">
      <%= f.button :submit, "Update", class: "btn btn-success" %>
    </div>
  <% end %>


  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-warning">Danger Zone</h4>
      <p class="card-text mb-2">Don't live without warning...</p>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

    </div>
  </div>
  