<div class="row">
    <div class="col-sm">
      <div class="landing-content d-flex align-items-start">
      <div class="card card-signup devise-card">
        <div class="card-body">
            <h4>Oh what an Impedimenta!</h4>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true ,
                            input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "btn btn-landing btn-primary" %>
              </div>
            <% end %>
            <hr>
            <%= render "devise/shared/links" %>


        </div>

      </div>
      </div>
    </div>
</div>