	<div class="landing-content d-flex align-items-center">
		<div>
		<h1 class="mb-3 text-uppercase landing">LEO</h1>
		<h2 class="landing mb-2">Focus on what matters.</h2>
		<p class="landing mb-5">LEO is your life engine optimisation system. Spend time on what matters and drop the clutter.</p>
			<%= link_to "Sign Up For Free", new_user_registration_path, class: "btn btn-primary landing btn-landing" %>
			<%= link_to "login", new_user_session_path, class: "btn btn-secondary landing btn-landing" %>
		</p>
		<p>
			<%= link_to "The LEO Story", story_path, class: "landing story-link" %>
		</p>
		</div>

	</div>
		
