<div class="container-fluid story-page">
    <div class="row mt-5">
        <div class="col-md-8 col-sm-12 text-white">
            <h1>The Story of LEO</h1>
            <br>
            <p>I built LEO for two reasons:</p>

            <p>1. I needed to flex my nascent development skills with a real world problem.</p>

            <p>2. I have been developing a way to prioritize all the elements of life in a conscice way for a few years now, and that solution has outgrown it's spreadsheet roots.</p>

            <p>This system is built on a combination of mindfulness theory, Skills finder work, and project based learning and draws on the work of Andrew Hassed, Professor of Psychology at Monash University and his great book Now Know Thyself</p>

            <p>But it is not for everyone.</p>

            <p>This system is for:</p>

            <ul>
                <li>- People who love applied learning</li>
                <li>- people who like to work on projects</li>
                <li>- People who need to clarify their focus</li>
                <li>- People who want to spend more time on what matters</li>
            </ul>

            <p>This is not just for a certain type (eg Founders etc) the system is agnostic to work, activity, practice or vocation.</p>

            <p>It works like this:</p>

            <h5>Pillars</h5>

            <p>You define broad areas of your life that matter to you. these are the big things that never go away and that you never stop learning about.</p>

            <p>In Leo these are called Pillars.</p>

            <p>For me, these are:</p>
            <ul>
                <li>Family</li>
                <li>Tech</li>
                <li>Education</li>
                <li>Personal (fitness, music, travel)</li>
                <li>Finance</li>
            </ul>
            <p>I recommend always having at least Family/Friends and Financial in there. I also recommend against having something like "Work". It needs to be a practice area. Mine are tech and education, these are the areas in which I "work".</p>

            <h5>Vision</h5>
            
            <p>Set the vision for each pillar. This is a broad future state defining your direction for this Pillar. If you share this pillar with other people (family, cofoudners, climbing partners whoever..) involve them in the discussion.</p>

            <p>A guide for setting your vision: make it a meaningful, realistic vision of your future state, but just outside of specifics. e.g. Vision for my Tech pillar might be a leader in the Australian tech industry. The tech industry will change, so you never really arrive at the vision, but it guides your goals and delivers fullfillment in that pillar of your life</p>

            <h5>Three Things</h5>
            
            <p>You set three items for each pillar ONLY. Like good forms of portfolio management in finance or simple to-do lists - ruthless prioritization means you cut out what doesn't matter.</p>

            <p>For each pillar you set three:</p>

            <ul>
                <li>Goals</li>
                <li>Projects</li>
                <li>Skills</li>
                <li>Knowledge</li>
                <li>Events/Networks</li>
            </ul>

            <p>These are ordered in terms of importance AND updage frequency. They also ladder into each other.</p>

            <p>For example, how you spend you time (events etc) ladders into knowledge/skills you are aquiring, which are directly applied in your projects, which deliver on your goals which will push closer you to your vision.</p>

            <p>You should be cycling through events and interactions on a regular basis. Knowledge/ Skills less so, Projects less frequenty (depending on the pillar this could be every month to years long).

            <p>Your goals should change less frequently - BUT on inital set up of LEO, you will probably get some of these wrong. I have found that once a year is a good evaluation of these and maybe 30% get changed each year if that.

            <p>I'll go through each one now in detail explining what each one means.

            <h6>Goals</h6>

            <p>These are the things that are attainabl and that will deliver on your vision.</p>

            <p>For example, in my family pillar, My vision is that each member of my family is living a fullfilled life full of learning and love.</p>

            <p>One of my goals, is for my son jack to build up his reading and writing skills (he is in Kindergarten and struggling at the moment). Once this goal is achieved, we move onto the next, but it gets us closer to the vision for that life pillar.</p>

            <p>Make them short, simple and attainable.</p>

            <h6>Projects</h6>

            <p>Think of these as concerted activities with deadlines that you focus your energy on. In my Tech pillar, one of my goals is to be a full stack web-dev. This is a slow burn, but a project like LEO gets me there.</p>

            <h6>Skills/Knowledge</h6>

            <p>Some people use these interchangably - but in the LEO system the simple differentiator is Knowledge is what you know, and skills are what you can do.</p>

            <p>I may be developing my knoweldge of Sailing, but I need to acquire hard skills in managing a boat, before I can get closer to achieving my goal of learning to sail in the Personal Pillar of my life.</p>

            <h6>Events/Networks</h6>

            <p>You should be building your networks every day. The inclusion of this area is ifluenced by Reid Hoffaman's (founder of Linkedin) idea that every day you should be developing a genuine network of people that share your goals.</p>

            <p>The best way to do this is in person - but it might not always be practical. If you have gaps here, i suggest heading to Meetup to fnd groups that relate to this pillar and just head along to build your network.</p>

            <p class="font-weight-bold">Why are projects separate?</p>

            <p>You can also create projects in a seperate projects area of LEO. This is because there may be ideas and concepts that don't fit, or things you may want to do in the future but don't fit into a pillar just yet. If so, please create them as a project and let them sit there until you are ready to put them into your pillars.</p>

            <p>For example - one of my dream projects is to retore a grand piano. This is a time consuming project that doesn't really fit into my goals at the moment. This sits in the vault, unitl my goals and vision change enabling me to bring it into my life.</p>

            <h4>The Future of Leo</h4>

            <p>Future features that are coming soon are:</p>
            
            <ul>
                <li>Time and Income allocation across pillars so you can see where you spend your time and it's benefits.</li>
                <li>Mobile apps.</li>
                <li>Cross linking between areas of the platform.</li>
                <li>Project dashbaords wilth links to key platforms like ASANA.</li>
                <li>Content, event and project recommendations based on the community and also activities that link to your pillars.</li>
                <li>Featured Pillar layouts from community members so you can see how other people benefit from the system.</li>
                <li>Notifications and security updates.</li>
                <li>Seqencing of Content and Materials related to your pillars help you learn  what you want quickly. This will use AI and Sequencing theory.</li>
            </ul>

            <p>This app is in extreme beta - so use with caution. An announcement will go out once we move to a stable release. If you are interested in contributing to this project please email me - tom@tomspencer.co</p>

            <p>Thanks</p>

            <p>Tom Spencer</p>
            <p>Founder of LEO.</p>



        </div>
            <div class="col">
                <div class="card p-4 story-card">
                    <h2 class="card-title mb-3 mt-4 text-center">LEO</h3>
                    <p class="card-text mb-2 text-center">Focus on what matters. Create your life pillars and work towards your vision for life.</p>
                    <hr class="mb-3">
                    <p class="text-center"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary m-1" %>    <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %></p>
                </div>
        
            </div>

        </div>
    </div>
</div> 