<%= simple_form_for (@project) do |f| %>

<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
	<%= f.input :title %>
	<%= f.input :summary %>
	<%= f.input :why %>
	<%= f.input :problem_description %>
	<%= f.input :goal_statement %>
	<%= f.input :project_details %>
	<%= f.input :resources %>
	<%= f.input :budget %>
	<%= f.input :goals_extended %>
	<%= f.input :success_measures %>
	<%= f.file_field :image, class: "btn btn-outline btn-secondary" %>

</div>

<hr>

<div class="form-actions">

	<%= f.submit :submit, class: "btn btn-outline-primary" %>

</div>

<% end %>

