<div class="d-flex bd-highlight mb-3">
  <div class="mr-auto p-2 bd-highlight"><h3>Your Projects</h3></div>
  <div class="p-2 bd-highlight"><%= link_to "New Project", new_project_path, class: "btn btn-primary" %></div>
</div>

<div class="row" %>
  
    <% @projects.each do |project| %>
        <div class="col-md-3 col-sm-12">
            <div class="card text-center">
                <% if project.image.attached? %>
                <%= image_tag url_for(project.image), class: "card-img-top img-responsive img-project" %>
                <% else %>
                <%= image_tag url_for("surf.png"), class: "card-img-top img-responsive img-project" %>
                <% end %>
                <div class="card-body">
                    <h4 class="card-title"> <%= project.title %> </h4>
                    <%= link_to "Go to Project", project_path(project), class: "btn btn-primary btn-sm" %>
                </div>

            </div>
        </div>
    <% end %>

</div>