        <div class="card" style="width: 18rem;">
        <% if @project.image.attached? %>
          <%= image_tag url_for(@project.image), class: "card-img-top project-card-image" %>
        <% else %>
          <%= image_tag url_for("surf.png"), class: "card-img-topw project-card-image" %>
        <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= @project.title %></h5>
            <p class="card-text"><%= @project.summary %></p>
              <%= @project.why %>
              <%= @project.problem_description %>
              <%= @project.goal_statement %>
              <%= @project.budget %>
            <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-primary" %>
            <%= link_to "Delete", project_path(@project), method: :delete, class: "btn btn-outline-secondary btn-sm btn-block" %>

          </div>
        </div>

 

