<% @pillars.each do |pillar| %>

  <div class="col-sm-3">

      <div class="card bg-dark text-white">
        <% if pillar.image.attached? %>
          <%= image_tag url_for(pillar.image), class: "card-img pillar-img" %>

        <% else %>

          <%= image_tag ("wood.png"), class: "card-img" %>

          <% end %>
    

        <div class="card-img-overlay">
          <h5 class="card-title"><%= pillar.title %></h5>
        <p class="card-text"><%= pillar.description %></p>

        <%= link_to "Edit", edit_pillar_path(pillar), class: "card-link" %>

        </div>
      </div>

      <div class="card pillar-card">
        <div class="card-body">
          <h6 class="card-title">Vision</h6>
          <p class="card-text"><%= pillar.vision %></p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Goals</h6>
          <ol>
            <li class="card-text"><%= pillar.goal_1 %></li>
            <li class="card-text"><%= pillar.goal_2 %></li>
            <li class="card-text"><%= pillar.goal_3 %></li>
          </ol>

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Projects</h6>
              

          <ol>
            <li class="card-text"><%= pillar.project_1 %></li>
            <li class="card-text"><%= pillar.project_2 %></li>
            <li class="card-text"><%= pillar.project_3 %></li>
          </ol>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Skills</h6>
          <ol>
            <li class="card-text"><%= pillar.skill_1%></li>
            <li class="card-text"><%= pillar.skill_2 %></li>
            <li class="card-text"><%= pillar.skill_3 %></li>
            </ol>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Meetups</h6>
          <ol>
            <li class="card-text"><%= pillar.event_1%></li>
            <li class="card-text"><%= pillar.event_2 %></li>
            <li class="card-text"><%= pillar.event_3%></li>
          </ol>
        </div>
      </div>

       <div class="card">
        <div class="card-body">
          <%= link_to "Details", pillar_path(pillar), class: "btn btn-outline-primary" %>
        </div>
      </div>

 

</div>

<% end %>


