<% @project.each do |project| %>

	<div class="card" style="width: 18rem;">
	<%= image_tag(url_for project.image), class: "card-img-top" %>

	  <img class="card-img-top" src="..." alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title"><%= project.title %></h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>

<% end %>