
<div class="row">

	<div class="col-8">


	<%= render 'form', pillar: @pillar %>

	<br>


	</div>

	<div class="col-2 d-none d-sm-none d-md-block">


		  <div class="card bg-dark text-white">
		  	  <% if @pillar.image.attached? %>
	          	<%= image_tag url_for(@pillar.image), class: "card-img pillar-img" %>
	          <% else %>
	          	<%= image_tag ("wood.png"), class: "card-img pillar-img" %>
	          <% end %>
	        <div class="card-img-overlay">
	          <p class="card-title"><%= @pillar.title %></h5>
	        <p class="card-text"><%= @pillar.description %></p>
	        </div>
	      </div>


	</div>

</div>