<p id="notice"><%= notice %></p>

<div class="row">

<div class="col-9">

  
<h1><%= @pillar.title %></h1>

<p><%= @pillar.description %></p>
<p> <%= @pillar.vision %> </h3>

<hr>
<h6>Goals</h4>
<ul>
    <li><%= @pillar.goal_1 %></li>
    <li><%= @pillar.goal_2 %></li>
    <li><%= @pillar.goal_3 %></li>
</ul>

<hr>

<h6>Skills</h4>

<ul>
    <li><%= @pillar.skill_1 %></li>
    <li><%= @pillar.skill_2 %></li>
    <li><%= @pillar.skill_3 %></li>
</ul>

<hr>

<h6>Events</h4>

<ul>
    <li><%= @pillar.event_1 %></li>
    <li><%= @pillar.event_2 %></li>
    <li><%= @pillar.event_3 %></li>
</ul>


</div>
  <div class="col-3">

    <div class="header-image">
            <% if @pillar.image.attached? %>
                <%= image_tag url_for(@pillar.image), class: "card-img-top img-fluid" %>
            <% else %>
                <%= image_tag url_for("surf.png"), class: "card-img-top img-fluid" %>
            <% end %>

            <br>
            
            <hr>
            

            <%= link_to 'Edit', edit_pillar_path(@pillar), class: "btn btn-primary btn-sm btn-block" %>
            <%= link_to 'Delete', pillar_path(@pillar), method: :delete, class: "btn btn-danger btn-sm btn-block" %>

    </div>

  </div>



