	<div class="row">
    <div class="col-sm">
    
      <div class="landing-content d-flex align-items-start">
        <div class="card card-signup devise_card">
          <div class="card-body">
            <h5 class="card-title">Getafix needs your Vitalstatistix!</h5>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary btn-landing" %>
          </div>
          <% end %>
          <br>
          <hr>
          <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</div>




