.background_landing {
	background-blend-mode: luminosity, ;
    background-image: linear-gradient(to bottom, rgba(25, 0, 255, 0.4), rgba(25, 0, 255, 0.4)), linear-gradient(149deg, #3023ae, #c86dd7);	background-size: cover;
	min-height: 100%;
	width: auto;

}

.background_story {
	background-blend-mode: luminosity, ;
    background-image: linear-gradient(to bottom, rgba(25, 0, 255, 0.4), rgba(25, 0, 255, 0.4)), linear-gradient(149deg, #3023ae, #c86dd7);	background-size: cover;
	height: 100%;
	width: auto;
}

.landing-content {
	height: 100%;
}

.story-page {
	height: 100%;
}


.story-card {
	min-height: 300px;
	width: auto;
}

.body_landing {
	margin: none;

}

.landing {
	color: #ffffff;
}

.btn-landing {
	color: #ffffff;
	border-radius: 40px;

}

.landing_row {
	min-height: 100vh;
	min-width: auto;
}

.devise_card {
	border-radius: 25px;
	padding-right: 15px;
	padding-left: 15px;
}

.card-crop {
	max-height: 120px;
}

.story-link {
	margin-top: 55px;
}


