body {
  background-color: #ffffff;
  font-family: inconsolata, arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.3846153846153846em;
  height: 100vh;
}

p, ol, ul, td {
  font-family: inconsolata, arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 18px;
}

.card {
	margin-top: 20px;
  width: 100%;
  height: 200px
}

.card-signup {
	margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 25px;
	padding-right: 15px;
	padding-left: 15px;
}

.card-img {
  filter: brightness(35%);
  display: block;
}



