
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <%= image_tag "logo.png", class: "navbar-brand img-fluid" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav d-flex">
      <%= link_to "Pillars", pillars_path, class: "nav-link" %>
      <%= link_to "Projects", projects_path, class: "nav-link" %>
      <%= link_to "My Account", edit_user_registration_path, class: "nav-link" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>
    
  </div>
</nav>